.full-width{
	width: 100%;
}

.second-container{
	min-height: 500px;
	width: 100%;
	background: #E2E2E2 none repeat scroll 0% 0%;
	padding-top: 50px;
	padding-bottom: 40px;
}

.margin-bottom0{
	margin-bottom: 0;
}

@media screen and (max-width: 1302px){

	.full-width{
		width: 94%;
	}

}