/* -- Main Class 
    ================================================== */
body{
     font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
}

.gray_background{
    background-color: #e6e6e6;
}

.white_background{
    background-color: #fff;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    color: #658d3f;
    text-transform: uppercase;
}

/* -- Nav 
    ================================================== */
nav{
    background: rgba(247, 247, 247, 0.9);
    box-shadow: none!important;
    z-index: 1000;
    
}

nav ul li a{
    color: #303c42;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.fixed{
    position: fixed;
}

.brand-logo{
    width: 120px;
    margin: 9px 30px;
}
.mobile-nav-logo{
    width: 110px;
    margin: 10px auto;
}

.side-nav li a{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    
}
nav{
    border-bottom: 3px solid rgba(101, 141, 63, 0.7);
}

nav ul.right{
    margin-right: 30px;
}

.mobile-nav i{
    color: #658d3f;
}

/* -- Section
    ================================================== */

section{
    padding: 50px 0;
}

.section-header{
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}


/* -- Banner
    ================================================== */
#main_section{
    margin: 0;
    padding: 0;
}

.banner{
       background: url(../img/banner-web-technology.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
       height: 500px;
}
.banner .content{
    padding: 80px 0 40px; 
    text-align: center;
}

.banner .content img{
    width: 320px;
}

.banner .content p{
    color: #fff;
    font-size: 45px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 200;
    margin: 15px;
    
}

/* -- About Us
    ================================================== */
.company-profile p{
    font-family: 'Roboto', sans-serif;
    font-weight: 205;
    line-height: 25px;
    font-size: 14px;
    margin: 8px;
}

/* -- Services
    ================================================== */

#services {
    
}
.mini_services{
    text-align: center;
    margin: 10px auto 20px;
    min-height: 300px;
}
.mini_services i{
    border-radius: 50%;
    background: transparent;
    color: #648e3d; 
    padding: 30px;
    border: 2px solid #658d3f;
    cursor: pointer;
    transition: all 1s;
    margin-bottom: 10px;
}
.mini_services i:hover{
  
    border-radius: 50%;
    background: #648e3d;
    color: #fff;
    padding: 30px;
    border: 2px solid #658d3f;
    cursor: pointer;
    transition: all 0.5s;
    
}
.mini_services h6{
    font-size: 15px;
    padding: 10px 0;
    
}
.mini_services p{
    font-size: 12px;
    font-style: italic;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 5px auto;
}

/* -- Portfilio
    ================================================== */
#portfolio{
     background: url(../img/home-banner.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
        color: #f5f6f7;
}

#portfolio .overlay{
    background: rgba(0, 0, 0, 0.7);
    padding: 50px 0;
}
#portfolio .section-header{
    color: #f5f6f7;
}

#portfolio .product{
    text-align: center;
    min-height: 200px;
}

#portfolio .product i{
    padding: 30px;
    background: #8c8c8c;
    color: #C72026;
    
}

#portfolio .product h6{
    margin: 10px auto;
    font-size: 14px;
    color: #f5f6f7
    
}

/* -- Contact Us
    ================================================== */
.contct_form{
    padding-right: 50px!important;
    
}

.contct_form input, .contct_form textarea{
    border: 1px solid #e1e1e1;
    background: #f3f3f3;
    margin-top: 10px; 
    padding-left: 10px;
}
.btnsend{
    background: #C72026;
    box-shadow: none!important;
}

.contct_address {
}
.address td i{
    font-size: 30px;
    color: #648e3d;
}
.address td span{
    font-style: italic!important;
    font-size: 15px;
    line-height: 30px;
    color: #4f4f4f;
}
.address td span a{
    text-decoration: underline;
    color: #4f4f4f;
}

.social i{
    padding: 15px;
    border-radius: 50%;
    background: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
}

 /* -- Footer
    ================================================== */
#footer{
    background: #303c42;
    margin: 0;
    padding: 10px 0;

}
#footer p{
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 200;
}


/* Back to top function */

.back-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #648e3d url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}


.back-top.cd-is-visible, .back-top.cd-fade-out, .no-touch .back-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.back-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.back-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}
.no-touch .back-top:hover {
  background-color: #648e3d;
  opacity: 1;
}